<ion-view title="Top Of The Stack" id="page1" ng-controller="homePageCtrl" ng-init="getTechGraph();getTechGraph2();">
    <ion-content padding="true" class="has-header">

        <div>
            <form id="homePage-form1" class="list" ng-submit="getSearchByTags()">
            
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" id="searchByTag" ng-model="searchByTag" placeholder="Search By Tag">
                </label>
            </form>
        </div>
        <br/>
         <div>
         <center>
         new_active_users : <h2 count-up end-val="11">0.0</h2>
         total_users : <h2 count-up end-val="6310349">0.0</h2>
         total_comments : <h2 count-up end-val="62533494">4.66</h2>
          answers_per_minute : <h2 count-up end-val="10101010101">4.66</h2>
           questions_per_minute : <h2 count-up end-val="2.93">0.0</h2>
            total_answers : <h2 count-up end-val="20306153">0.0</h2>
             total_accepted : <h2 count-up end-val="6949294">0.0</h2>
              total_unanswered : <h2 count-up end-val="3555148">0.0</h2>
               total_questions : <h2 count-up end-val="12748320">0.0</h2>
</center>
         </div>
        <div id="graphcontainer" class="graphTechnology" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
        </div>
       <br/>
         <div id="graphcontainer2" class="graphTechnology" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
        </div>
        
    </ion-content>
</ion-view>
