<ion-view title="Top Of The Stack" id="page5" ng-controller="allDataContentsCtrl">
    <ion-content scroll="false">
        <tab-slide-box>
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <ion-scroll direction="x" class="tsb-hscroll">
                        <a href="javascript:;" ng-click="getStackN()" >Top Scored</a>
                        <a href="javascript:;" ng-click="getStackN()" >Top Answered</a>
                        <a href="javascript:;" ng-click="getStackN()" >Top Viewed</a>
                        <a href="javascript:;" ng-click="getStackN()" >Top Users</a>
                    </ion-scroll>
                </div>
            </div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" >
                <ion-slide>
                    <h3>Top scored questions on stack overflow</h3>
                    <ion-list>
                    <div class="list card">
                        <ion-item href="{{data.link}}" class="item item-text-wrap" ng-repeat="data in stackData.items">
                            {{data.title}}
                        </ion-item>
                    </div>
                    </ion-list>>
                </ion-slide>
                
                <ion-slide>
                    <h3>Top answered questions on stack overflow</h3>
                    <ion-list>
                    <div class="list card">
                        <ion-item href="{{data.link}}" class="item item-text-wrap" ng-repeat="data in stackData.items">
                            {{data.title}}
                        </ion-item>
                    </div>
                    </ion-list>>
                </ion-slide>
                <ion-slide>
                   <h3>Top viewed questions on stack overflow</h3>
                    <ion-list>
                    <div class="list card">
                        <ion-item href="{{data.link}}" class="item item-text-wrap" ng-repeat="data in stackData.items">
                            {{data.title}}
                        </ion-item>
                    </div>
                    </ion-list>>
                </ion-slide>
                <ion-slide>
                    <h3>Top users on stack overflow</h3>
                    <ion-list>
                    <div class="list card">
                        <ion-item href="{{data.link}}" class="item item-text-wrap" ng-repeat="data in stackData.items">
                            {{data.title}}
                        </ion-item>
                    </div>
                    </ion-list>>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
    </ion-content>
</ion-view>
<!-- </script> -->
